<table class="userTable">
    <colgroup>
        <col width="5%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
    </colgroup>
    <thead>
    <tr>
        <th>
            <span>id</span>
        </th>
        <th>
            <span>Name</span>
        </th>
        <th>
            <span>quantity</span>
        </th>
        <th>
            <span>Edit</span>
        </th>
    </tr>
    </thead>
    <tbody class = "listTable">
    </tbody>
    <input type="button" id="checkout" class="filter_button" value="Checkout">

</table>