<div class = "table"></div>
<table class="userTable">
    <colgroup>
        <col width="5%">
        <col width="20%">
        <col width="10%">
        <col width="10%">
        <col width="5%">

    </colgroup>
    <thead>
    <tr>
        <th>
            <span>id</span>
        </th>
        <th>
            <span>Name</span>
        </th>
        <th>
            <span>Price</span>
        </th>
        <th>
            <span>CategoryId</span>
        </th>

        <th>
            <span>To Cart</span>
        </th>
    </tr>
    </thead>
    <tbody class = "listTable">
    </tbody>
</table>