* {
    font-size: 10pt;
}

body {
    background-color: azure;
}

th span {
    font-weight: bolder;
}
.form-row {
    margin-bottom: 8px;
    overflow: hidden;
}
.form-row input {
    float: right;
    height: 19px;
    line-height: 19px;
    margin: 0;
    padding: 0 5px;
    width: 287px;
    border: 1px solid #ABADB3;
}

.reg-form {
    width: 416px;
    margin: 0 auto;
}

.form-row textarea {
    height: 90px;
    line-height: 16px;
    font-size: 12px;
    padding: 0 5px;
    width: 404px;
    border: 1px solid #ABADB3;
}

.switch-forms  {
    padding:5px;
    height:25px;
    width:100%;
    line-height: 10px;
    background: #337AB7;
    color:white;
    border: 3px solid;
}
.switch-forms:hover {
    background:#286090;
}
.admin_button  {
    padding:5px;
    height:25px;
    width:25%;
    line-height: 10px;
    background: #337AB7;
    color:white;
    border: 3px solid;
}
.user_button  {
    padding:5px;
    height:25px;
    width:24%;
    line-height: 10px;
    background: #337AB7;
    color:white;
    border: 3px solid;
}
.button  {
    padding:5px;
    height:25px;
    width:100%;
    line-height: 10px;
    background: #337AB7;
    color:white;
    border: 3px solid;
}
.filter_button  {
    padding:5px;
    height:25px;
    width:10%;
    line-height: 10px;
    background: #337AB7;
    color:white;
    border: 3px solid;
    border-radius: 10px;
}
.button:hover {
    background:#286090;
    border-radius: 5px;
}
.filter_button:hover {
   border-radius: 5px;
}

table {
    border-collapse: collapse;
    padding: 10px;
    margin: 20px auto;
    width: 70%;
}

th {
    padding: 20px;
    background-color: #f9ff84;
    border: 1px solid;
    text-align: center;
}
tr{
    border: 1px solid;
    text-align: center;
}

tr:hover {
    background-color: #e3efff;
}
td{
    border: 1px solid;
    text-align: center;
    padding: 5px;
}
colgroup{
    border: 1px solid;
    text-align: center;
}
.admin_button, .user_button {
    height: 40px;
    border-radius: 10px;
}

.admin_button:hover, .user_button:hover {
    border-radius: 15px;
    background-color: #255bb7;
}

.admin_option_button {
    margin: 2px;
    font-size: 0.7em;
    border-radius: 8px;
}

.admin_option_button:hover {
    background-color: #b5d592;
}

#messageHolder{
    width: 400px;
    height: 200px;
}

.filter_container {
    /*margin: auto;*/
    margin: 10px 0;
    text-align: center;
}
.edit_space{
    padding:15px;
    margin: auto;
    border: 2px;;
    text-align: center;
}