<% collection.forEach(function(model) { %>
<tr>
    <td>
        <input type="checkbox" id ="<%=model._id %>"/>
    </td>
    <td>
        <%= model.name || '' %>
    </td>
    <td>
        <%= model.login || ''  %>
    </td>
    <td>
        <%= model.password || '' %>

    <td>
        <%= model.role || '' %>
    </td>
    <td>
        <input type="button" id="edit_button" value="Edit">
        <input type="button" id="delete_button" value="Delete">
        <input type="button" id="change_role_button" value="Role">
    </td>
</tr>
<% }); %>